*,*::after,*::before{


  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body{
    font-family: "Raleway", sans-serif;
    background-color: rgb(245, 248, 255);
}
img{
  max-width: 100%;
}

.btn{
  background-color: #4E47FF;
  color: #FFFFFF;
  font-weight: bold;
  padding: 13px 36px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  max-width:max-content;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
}

.hero_area{
  background-image: url(./Assets/Hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;

}

.navigation_menu{
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.navigation_menu h3{
  font-size: 32px;
  color: #4E47FF;
  font-weight: bold;
}

.hero_info_main{
  padding: 158px 0;
}

.hero_info{
  width: 80%;
  margin: 0 auto;
  text-align: center;
 

}

.hero_info h2{
  font-size: 65px;
  font-weight: bold;
  color: #252432;
}

.hero_info .hero_button_area{
  text-align: center;
  margin-top:34px ;
}


.action_area{
  padding:116px 0 ;

}


.action_main{
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.action_main .action_info{
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 500px;
}

.action_main img{
  border-radius: 48px;
}


.action_main h4{
  font-size: 42px;
  font-weight: bold;
  color: #252432;
}

.action_info p{
  font-size: 24px;
  color: #252432;
  line-height: 30px;
}



/* user activity */

.user_main{
  border-radius: 24px;
  background-color:#4d47ff1f ;
  padding: 50px;
  text-align: center;
}


.user_main h3{
  font-size: 38px;
  font-weight: bold;
  color: #252432;
  margin-bottom: 40px;
}


.user_activity{
  display: flex;
  justify-content: space-around;
    font-family: "Inter", sans-serif;
}

.user_activity h6{
  font-size: 80px;
  font-weight: bold;
  color: #4E47FF;
}


.user_activity span{
  color: #00000073;
  font-size: 20px;
}


/* user review area design */

.user_review{
  padding: 137px 0;
}

.review_heading {
  text-align: center;
  margin-bottom: 50px
}
.review_heading h3{
  font-size: 42px;
  color: #252432;
  font-weight: bold;
}

.user_reviews{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 20px;
}

.review{
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 14px;
  background-color: #FFFFFF;
  padding: 24px;
}


.review .user_profile_template{
  display: flex;
  gap: 10px;
  align-items: center;
}

.review .user_profile_template img{
  border-radius: 50%;
}

.user_profile_template .user_name{
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 12px;
}

.review p{
  color: #1E1E1E;

}

.review h6{
  font-size:20px ;
  font-weight: 500;
  color:#1E1E1E ;
}


/* focus area design */

.focus_area{
  padding-bottom: 137px;
}


.focus_main_container{
  padding: 71px 0;
  background-color: #FFFFFF;
  border-radius: 14px;
}


.focus_main_container img{
  display: block;
  margin: 0 auto;
  border-radius:48px ;
}


.focus_intro{
  display: flex;
  flex-direction: column;
  gap: 20px;
text-align: center;
}


.focus_intro h3{
 font-size: 50px;
  font-weight: bold;
  color:#000000 ;
}


.focus_intro p{
color:  #00000073;
}


.focus_btn_area{
  text-align: center;
  margin-bottom: 20px;
}


/* log in area design */

.login_area_main{
  display: flex;
gap: 111px;
padding: 71px 0;

}

.login_intro h2{
  font-size: 97px;
  font-weight: bold;
  color: #000000;
}






.login_form{
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.input_area input,textarea{
  display: block;
  margin-top: 5px;
  width: 100%;
  padding: 18px 32px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #FFFFFF;
}


.input_area input,textarea:focus{
  outline: 0;
}

textarea::placeholder{
  font-style: italic;
}



 .submit_area #submit_btn{
  padding: 12px 36px;
width: 100%;
background-color: #4E47FF;
color: #FFFFFF;
border: none;
border-radius: 5px;
 }


 footer{
  padding: 103px 0;
  background-color: #FFFFFF;
 }


 .footer_container{
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 22px;
  text-align: center;
 }

 .footer_container h2{
  font-size: 90px;
  font-weight: bold;
  color: #4E47FF;
 }


 .footer_container p{
  color: #8987A1;
line-height: 24px;

}
  
.navigation_links{
  display: flex;
  gap: 22px;
  justify-content: center;
}


.navigation_links a{
  text-decoration: none;
  color: #8987A1;
}







